<section style="background: #67032F">
  <div >
    <div style="justify-content: center;align-items: center;display: flex">
      <div class="row" style="width: 90%;align-items: center;justify-content: space-between;display: flex;margin-top: 2%">
        <div class="col-12 col-sm-12 col-md-6 col-xl-6" style="">
          <h2 style="font-size: 30px;margin: 0;color: white">Glamity</h2>
          <p style="color: #f2f2f2;">passion instead of fashion</p>
        </div>
        <div class="mb-2 col-12 col-sm-12 col-md-6 col-xl-6 m-0 p-0" style="flex-direction: row;display: flex;align-items: center;justify-content: space-between">
         <div class="row">
           <div  class="col-12 col-sm-12 col-md-9 col-xl-9 p-0">
             <input type="text" style="background: #faf7f7;opacity: 0.8" class="form-control"
                    id="exampleInputEmail1" placeholder="Enter Your Email" aria-describedby="emailHelp">
           </div>
           <div  class="col-12 col-sm-12 col-md-3 col-xl-3">
             <button type="submit"  class="btn btn-primary btnsubs">Subscribe</button>
           </div>
         </div>
        </div>
      </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: center;width: 100%">
      <div class="row" style="display: flex;justify-content: space-between;width: 90%;margin-top: 2%">
        <div class="col-6 col-sm-6 col-md-6 col-xl-2" style="margin-bottom: 3%" >
          <h2 class="tittle">Quick Links</h2>
          <div style="">
            <p class="p3">About Us</p>
            <p class="p3">Order Status</p>
            <p class="p3">Contact Us</p>
            <p class="p3">Privacy Policy</p>
            <p class="p3">Terms Of Use</p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-xl-4" style="margin-bottom: 3%" >
          <h2 class="tittle">Online Customer Care Hotline</h2>
          <div style="">
            <p class="p2">About Us</p>
            <p class="p2">Phone : 0778594128</p>
            <p class="p2">Opening Hours : Every Day 8.00 am - 6.00 pm</p>
            <p class="p2">Email : glamityLk@gmail.com</p>
          </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-xl-4" style="margin-bottom: 3%" >
          <h2 class="tittle">Glamity Flagship Store</h2>
          <div style="">
            <p class="p2">Address : No 1, Bauddhaloka MW, Colombo 07</p>
            <p class="p2">Phone : 0114 2535781</p>
            <p class="p2">Opening Hours : Every Day 8.00 am - 6.00 pm</p>
        </div>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-xl-2" style="margin-bottom: 3%" >
          <h2 class="tittle">Follow Us</h2>
          <div style="">
            <div style="display: flex">
              <img class="icnlogo" src="../../../assets/icon/facebookicon.png" alt="">
              <div style=";align-items: center;justify-content: center;display: flex">
                <p class="p3" style="margin: 0;">Facebook</p>
              </div>

            </div>
            <div style="display: flex">
              <img class="icnlogo" src="../../../assets/icon/instagramicon.png" alt="">
              <div style=";align-items: center;justify-content: center;display: flex">
                <p class="p3" style="margin: 0;">Instagram</p>
              </div>

            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<!--<div style="width: 80%;background: #9c9a9a;display: flex;align-items: center;justify-content: space-between;flex-direction: row">-->
<!--  <div style="">-->
<!--    <div style="">-->
<!--      <h2 style="font-size: 30px;margin: 0">Glamity</h2>-->
<!--      <p>passion instead of fashion</p>-->
<!--    </div>-->

<!--    <div>-->
<!--      <div class="mb-2">-->
<!--        <label for="exampleInputEmail1" class="form-label">First Name</label>-->
<!--        <input type="text" style="height: 40px;background: #faf7f7" class="form-control"-->
<!--               id="exampleInputEmail1" placeholder="First Name" aria-describedby="emailHelp">-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
