
<section>

  <div style="background: #bfb6b6">
    <h2 class="tittle2">Office Wear</h2>
  </div>

  <div style="display: flex;justify-content: center;align-item: center">
    <div class="row"
         style="width: 100%;display: flex;align-items: center;
         justify-content: space-between;flex-direction: row;margin-top: 5%">
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2" >
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/office/office1.jpg" class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/office/office2.jpg" class="card-img-top" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL002</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1500/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">M</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/office/office3.jpg" class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/office/office4.jpg" class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <div style="display: flex;justify-content: center;align-item: center">
    <div class="row"
         style="width: 100%;display: flex;align-items: center;
         justify-content: space-between;flex-direction: row;margin-top: 5%">
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2" >
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/office/office5.jpg" class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/office/office6.jpg" class="card-img-top" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL002</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1500/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">M</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/dress11.jpg" class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/dress5.jpg" class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>


  <div style="display: flex;justify-content: center;align-item: center">
    <div class="row"
         style="width: 100%;display: flex;align-items: center;
         justify-content: space-between;flex-direction: row;margin-top: 5%">
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2" >
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/dress9.jpg" class="card-img-top image" alt="...">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>

      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/dress7.jpg" class="card-img-top" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL002</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1500/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">M</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/dress4.jpg " class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-6 col-xl-3 div2">
        <div class="card cardbody" style="width: 18rem">
          <img src="../../../assets/img/dress6.jpg" class="card-img-top image" alt="..." data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">
          <div class="card-body" style="background: white;">
            <div style="display: flex;flex-direction: row;justify-content: space-between">
              <h5 style="text-align: center;margin: 0;font-weight: bold;font-size: 18px" class="card-title">GL001</h5>
              <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
              <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
            </div>
            <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">
              <h2 style="font-size: 15px;text-align: center;margin: 0">Sizes</h2>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XS</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">L</h3>
              </div>
              <div style="width: 25px;height: 25px;border: 2px solid #b3b3b3;border-radius: 30%;display: flex;
           flex-direction: row;align-items: center;justify-content: center">
                <h3 style="font-size: 12px;margin:0;padding: 5px;text-align: center">XL</h3>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section>


  <!--------------------------------------------------- Pagination -------------------------------------------------------->

  <div style="display: flex;justify-content: center;align-items: center">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="">Previous</a></li>
        <li class="page-item"><a class="page-link" href="">1</a></li>
        <li class="page-item"><a class="page-link" href="">2</a></li>
        <li class="page-item"><a class="page-link" href="">3</a></li>
        <li class="page-item"><a class="page-link" href="">Next</a></li>
      </ul>
    </nav>
  </div>



  <!--------------------------------------------------- Modal -------------------------------------------------------->


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
       aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div style="justify-content: center;align-items: center;display: flex">
            <div class="card " style="width: 18rem;border: none">
              <img src="../../../assets/img/office/office1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 style="text-align: center;margin: 0" class="card-title">GL001</h5>
                <p style="text-align: center;margin: 0" class="card-text">Cotton</p>
                <p style="text-align: center;margin: 0" class="card-text">Rs 1200/-</p>
                <hr>
                <p style="text-align: center;margin: 0;color: red;font-size: 13px;margin-bottom: 3%" class="card-text"> * Please Select Option</p>
                <div style="justify-content: center;align-items: center;display: flex">
                  <p>STYLE SIZE</p>
                </div>
                <div style="display: flex;align-items: center;justify-content: space-between;margin-top: 2%">

                  <input type="radio" class="btn-check" name="options-outlined" id="btn-check-outlined"
                         autocomplete="off">
                  <label class="btn btn-outline-primary" for="btn-check-outlined">S</label>

                  <input type="radio" class="btn-check" name="options-outlined" id="btn-check-2-outlined"
                         autocomplete="off">
                  <label class="btn btn-outline-primary" for="btn-check-2-outlined">M</label>

                  <input type="radio" class="btn-check" name="options-outlined" id="success-outlined"
                         autocomplete="off">
                  <label class="btn btn-outline-primary" for="success-outlined">L</label>

                  <input type="radio" class="btn-check" name="options-outlined" id="danger-outlined" autocomplete="off">
                  <label class="btn btn-outline-primary" for="danger-outlined">XL</label>
                </div>

                <hr>
              </div>
            </div>
          </div>
          <div style="display: flex;justify-content: space-around">
            <label for="quantity">Quantity : </label>
            <input class="col-6" type="number" id="quantity" name="quantity" min="1" max="100">
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary col-12" data-bs-dismiss="modal" style="background: #8963EF"
                  data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
                  aria-controls="offcanvasRight">Add To Cart
          </button>
          <!--          <button type="button" class="btn btn-primary">Understood</button>-->
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <!--  <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button>-->

  <!--------------------------------------cart------------------------------------->

  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header" style="">
      <h4 style="margin: 0;font-size: 18px;" id="offcanvasRightLabel">My Cart</h4>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr>
    <div class="offcanvas-body">
      <div class="card mb-3" style="max-width: 540px;border: none">
        <div style="display: flex;justify-content: flex-end">
          <button style="font-size: 10px" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/img/office/office2.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p style="font-size: 18px" class="card-title">GL001</p>
              <h3 style="font-size: 14px;color: #bab8b8">S</h3>
              <div style="display: flex">
                <div> <h5 style="font-size: 13px;color: #bab8b8" class="card-title">1 x </h5></div>
                <div> <h5 style="font-size: 15px;margin-left: 5px" class="card-title">Rs. 1200</h5></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="card mb-3" style="max-width: 540px;border: none">
        <div style="display: flex;justify-content: flex-end">
          <button style="font-size: 10px" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/img/office/office3.jpg" class="card-img-top" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <p style="font-size: 18px" class="card-title">GL004</p>
              <h3 style="font-size: 14px;color: #bab8b8">M</h3>
              <div style="display: flex">
                <div> <h5 style="font-size: 13px;color: #bab8b8" class="card-title">1 x </h5></div>
                <div> <h5 style="font-size: 15px;margin-left: 5px" class="card-title">Rs. 1800</h5></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div style="display: flex;width: 70%;justify-content: space-between">
        <h3 style="font-size: 17px"><p>Sub Total :</p></h3>
        <p>Rs.3000</p>
      </div>

      <div class="col-12">
        <button style="width: 100%;background: black;color: white;border: none" type="button" class="btn btn-dark">Proceed to Checkout</button><br><br>
        <button style="width: 100%; border: 2px solid black;color: black;background: transparent" type="button" class="btn btn-danger">Cancel Order</button>
      </div>


    </div>
  </div>



</section>
